@model FirstProjectWithCore.Models.SinhVien

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenSv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaSV">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
